// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: .5px;
  transition: all linear .15s;

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .5;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
  }

  &-blue {
    background-color: #3a56db;
    color: $white;
    text-shadow: 0.5px 0.9px 0 #bb6100;

    &:hover {
      background-color: darken(#3a56db, 10);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
