    <div class="swiper-container swiper-works js-swiper-works">
        <h2 class="uppcase">Наши услуги</h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
            <div class="swiper-slide">
               {% include '../components/card-link.twig' %}
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
