<h2 class="uppcase">Наши работы</h2>
<ul class="card-list">
  <li>
    {% include '../components/card-link.twig' %}
  </li>
  <li>
    {% include '../components/card-link.twig' %}
  </li>
  <li>
    {% include '../components/card-link.twig' %}
  </li>
  <li>
    {% include '../components/card-link.twig' %}
  </li>
  <li>
    {% include '../components/card-link.twig' %}
  </li>
</ul>
