<footer class="footer">
<div class="container">
    <div class="footer-row">
      <div class="footer-col footer-col__first">
        <a href="#" class="footer-logo">
          <span class="footer-logo_title">ALLICS</span>
          <span class="footer-logo_descr">Современные <br/>решения АСУ</span>
        </a>
      </div>
      <div class="footer-col footer-col__second">
        <ul class="social-list social-list__footer">
          <li>
            <a href="#" class="social-link"></a>
          </li>
          <li>
            <a href="#" class="social-link"></a>
          </li>
          <li>
            <a href="#" class="social-link"></a>
          </li>
        </ul>
        <div>
          <p>
            <a href="tel:8 800 999 945 56" class="footer-phone">8 800 999 945 56</a>
          </p>
          <p>
            <a href="mailto:info@allics.ru" class="footer-mail">info@allics.ru</a>
          </p>
        </div>
      </div>
    </div>
</div>
</footer>
