<header class="header">
<div class="container">
    <div class="header-row">
      <div class="header-col header-col__first">
        <button class="btn-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#" class="header-logo">
          <span class="header-logo_title">ALLICS</span>
          <span class="header-logo_descr">Системы<br />автоматизации</span>
        </a>
      </div>
      <div class="header-col header-col__second">
        <div class="header-feedback header-feedback__phone">
          <div class="header-feedback_icon"></div>
          <div class="header-feedback_txt">
            <a href="tel:8 800 999 945 56">8 800 999 945 56</a>
            <p>Бесплатный звонок по РФ</p>
          </div>
        </div>
        <div class="header-feedback header-feedback__mail">
          <div class="header-feedback_icon"></div>
          <div class="header-feedback_txt">
            <a href="mailto:info@allics.ru">info@allics.ru</a>
            <p>Электронная почта</p>
          </div>
        </div>
      </div>
    </div>
</div>
</header>
