{% extends './inc/page.twig' %}

{% block content %}
	<div class="container pb-1">
		{% include 'inc/main/intro.twig' %}
		{% include 'inc/main/uslugi.twig' %}
		{% include 'inc/main/works.twig' %}
		{% include 'inc/main/about.twig' %}
	</div>
{% endblock %}
