{% extends './inc/page.twig' %}

{% block content %}
	<div class="container pb-1">
		{% include 'inc/main/intro.twig' %}
    <h1 class="mb-2">ТИПОГРАФИКА</h1>
		{% include 'inc/components/user-text.twig' %}
	</div>
{% endblock %}
