<a href="#" class="card-link">
    <span class="card-link_inner">
        <span class="card-link_bg" style="background-image: url('images/claudio.jpg')"></span>
        <span class="card-link_title">Автоматизация</span>
    </span>
</a>