<nav class="nav">
<div class="container">
  <ul class="nav_list">
    <li><a href="#" class="nav_link active">Главная</a></li>
    <li><a href="#" class="nav_link">О компании</a></li>
    <li><a href="#" class="nav_link">Услуги</a></li>
    <li><a href="#" class="nav_link">Наши работы</a></li>
    <li><a href="#" class="nav_link">Наши партнеры</a></li>
    <li><a href="#" class="nav_link">Контакты</a></li>
  </ul>
</div>
</nav>
