<nav class="nav">
<div class="container">
  <ul class="nav_list">
    <li><a href="#" class="nav_link active">Главная</a></li>
    <li><a href="#" class="nav_link">О компании</a></li>
    <li>
      <a href="#nav1" class="nav_link nav_link__icon js-nav-link">Услуги</a>
      <ul id="nav1" class="nav_sub-list js-nav-sub-list">
        <li><a href="#" class="nav_sub-link">Автоматизация</a></li>
        <li><a href="#" class="nav_sub-link">Диспетчеризация</a></li>
        <li><a href="#" class="nav_sub-link">Сборка Шкафов</a></li>
        <li><a href="#" class="nav_sub-link">Программирование</a></li>
        <li><a href="#" class="nav_sub-link">Пусконаладка</a></li>
      </ul>
    </li>
    <li>
      <a href="#nav2" class="nav_link nav_link__icon js-nav-link">Наши работы</a>
      <ul id="nav2" class="nav_sub-list js-nav-sub-list">
        <li><a href="#" class="nav_sub-link">Автоматизация</a></li>
        <li><a href="#" class="nav_sub-link">Диспетчеризация</a></li>
        <li><a href="#" class="nav_sub-link">Сборка Шкафов</a></li>
        <li><a href="#" class="nav_sub-link">Программирование</a></li>
        <li><a href="#" class="nav_sub-link">Пусконаладка</a></li>
      </ul>
    </li>
    <li><a href="#" class="nav_link">Наши партнеры</a></li>
    <li><a href="#" class="nav_link">Контакты</a></li>
  </ul>
</div>
</nav>
