<div class="user-text user-text__border">
  <h1 class="h1">заголовок 1</h1>
  <h2 class="h2">Заголовок 2</h2>
  <h3 class="h3">Заголовок 3</h3>
  <h4 class="h4">Заголовок 4</h4>
  <p>
    Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.
    Мы имеем более 10-летний опыт производства и поставки шкафов автоматики, электротехнического оборудования и компонентов. В каталоге нашей компании вы сможете выбрать
    надежное оборудование для АСУ ТП от ведущих производителей.
  </p>
  <ol>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
  </ol>
  <ul>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
    <li>Текстовка разрабатывает и внедряет комплексные автоматизированные системы, позволяющие усовершенствовать производственный процесс.</li>
  </ul>
</div>
